VITE_SUPABASE_URL=https://wawsrgxzlbnosweqnubd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Indhd3NyZ3h6bGJub3N3ZXFudWJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODgxNzU5MzEsImV4cCI6MjEwMzc1MTkzMX0.zqvi7CJE-3foRGcA338g70KGZ_W38Wdu8tMYr6YhXHY
VITE_TURNSTILE_SITE_KEY=1x00000000000000000000AA
